
.container { 
        display: flex;
        flex-flow: row wrap;

}

.search {
        flex: 1;

}

.container > li {
        flex: 1;

}

@media only screen and ( max-width: 600px ) {
        .container {
                flex-wrap: wrap;

        }
        .container > li {
                flex-basis: 50%;

        }

}

@media only screen and ( max-width: 400px ) {
        .container > li {
                flex-basis: 100%;

        }
        .search {
                order: 1;

        }

}
